.signup-banner {
    display: grid;
    place-items: center;
}

.signup-form-container {
    display: grid;
    min-height: 1000px;
    background-color: #E5E5E5;
    grid-template-columns: 2fr 3fr;
}

.upload-img-container {
    background-color: #DFDFDF;
}

.signup-form {
    text-align: center;
}

.input-field {
    font-size: 16px;
    padding: 10px;
    border: 2px;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 10px;
}

.input-cont {
    padding-bottom: 10px;
}

.attribute-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;

}

.attribute {
    /* border: 1px solid black;
    border-radius: 100px;

    /* width: 100px; */
    height: 100px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.att-left {
    height: 100%;
    width: 50px;
    border: .5px solid white;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;

}

.att-right {
    height: 100%;
    width: 50px;
    border: .5px solid white;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.white {
    background-color: #FEFAEE;
    height: 100%;

}

.yellow {
    background-color: #FFF8DE;
}

.pink {
    background-color: #FBE3CE;
}

.purple {
    background-color: #F4DFCC;
}

.lightbrown {
    background-color: #D5C3B2;
}

.medbrown {
    background-color: #CAAB91;
}

.brown {
    background-color: #AD8663;
}

.darkbrown {
    background-color: #916945;
}

.darkerbrown {
    background-color: #62462C;
}

.black {
    background-color: #301F10;
}