.landing-container {
    display: grid;
    grid-template-columns: .2fr 3fr .3fr 10fr .2fr;
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
}

.trending-container {
    display: grid;

}

.thumbnail-container-trending {
    display: grid;
    grid-template-columns: 0.5fr 6fr 0.5fr 6fr 0.5fr 6fr 0.5fr 6fr 0.5fr
}