/* .card-container {
    display: grid;
    grid-template-columns: auto;
}
 */
.videoRec {
    grid-area: videoRec;
    display: inline;
}

.card-container {
    border: 1px solid lightgrey;
    text-align: center;
    width: 400px;
}

.vid-thumbnail-container {
    border-bottom: 1px solid lightgrey;

}

.thumbnail {
    width: 100%;
    max-height: 300px;

}

.uploader-info {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.user-icon {
    max-width: 100%;
    max-height: 100%;
}