.videoViewPage_container {
    display: grid;
    grid-template-areas:
        'videoTitle .'
        'videoPlaying videoContent'
        'videoPlaying makeupUsed'
        'numViews makeupUsed'
        'posts makeupUsed';
    margin-left: 50px;
}

.videoContent {
    grid-area: videoContent;
}

.posts {
    grid-area: posts;
}