.row-search {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 5%;
    margin-right: auto;
    grid-row-gap: 1rem;


}

.used-products {
    margin-top: 2%;
}

.item-1 {
    grid-column: span 1;
}

.item-2 {
    grid-column: span 2;
}

.item-3 {
    grid-column: span 3;
}

.item-4 {
    grid-column: span 4;
}

.item-5 {
    grid-column: span 5;
}

.item-6 {
    grid-column: span 6;
}

.item-7 {
    grid-column: span 7;
}

.item-8 {
    grid-column: span 8;
}

.item-9 {
    grid-column: span 9;
}

.item-12 {
    grid-column: span 12;
}


.user-metadata-img {
    border-radius: 50%;
}

.sgn_log {
    border: 1px solid black;
    width: 90%;
    display: flex;
    justify-content: space-between;

}

.sgnup_log {
    display: flex;
}

.bottom_line {
    /* display: flex; */
    border-bottom: 1px solid black;
    align-content: stretch;
}