.product-container {
    padding-left: 7%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 20% 20% 20% 20%;
    /* column-gap: 5px; */
    grid-template-areas:
        'product-container-img-btn product-container-review-productInfo product-container-review-productInfo product-container-review-productInfo product-date'
        'product-container-img-btn . . . .'
        '. . . . .';
    font-family: Roboto;
    /* border: 1px solid red; */

}

.product-container-img-btn {
    grid-area: product-container-img-btn;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.product-container-img {
    grid-area: product-container-img;
    display: flex;
    margin-bottom: 10px;
}

.product-container-btn {
    padding: 5px 10px 5px 10px;
}

.dateName {
    height: 32.5px;
    color: #888686;
}

.product-container-review-productInfo {
    grid-area: product-container-review-productInfo;
}

.product-container-name {
    margin-bottom: 0;
    bottom: 0;
}

.dateName {
    display: flex;
    justify-content: space-between;
}

.product-container-name-info {
    margin-top: 0;
    margin-bottom: 0;
}

.product-container-review {
    margin-bottom: 0;
    margin-top: 0;
    color: #888686;
}

.product-container-review-info {
    margin-top: 0;
}