.user_container_subscribe {
    display: flex;
    width: 450px;
    align-items: center;
    border-radius: 5px;
    background: #EFEFEF;
}



.profile_picture {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    border-radius: 50%;
    width: 47px;
    height: 45px;
    object-fit: cover;
}

.profile_picture img {
    width: 100%;
}

.user_name {
    margin: 0px;
    color: #A08112;
}

.user_subscribers {
    margin: 0;
    color: #9299A9;
}

.name_subscribers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 100px;
}

.subscribe_button {
    width: 135px;
    height: 36px;
    background: #5925EB;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;

}